<!DOCTYPE html>
<html class="no-js" lang="en-us">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}DtcQueue - Admin{% endblock %}</title>
	{% for stylesheet in css %}
		{% if stylesheet.url is defined %}
			<link rel="stylesheet" href="{{ stylesheet.url }}"
					{% if stylesheet.integrity is not empty %} integrity="{{ stylesheet.integrity }}"{% endif %}
					{% if stylesheet.crossorigin is not empty %} crossorigin="{{ stylesheet.crossorigin }}"{% endif %}
			>
		{% else %}
			<link rel="stylesheet" href="{{ stylesheet }}">
		{% endif %}
	{% endfor %}
	{% for javascript in js %}
		{% if javascript.url is defined %}
			<script src="{{ javascript.url }}"
					{% if javascript.integrity is not empty %} integrity="{{ javascript.integrity }}"{% endif %}
					{% if javascript.crossorigin is not empty %} crossorigin="{{ javascript.crossorigin }}"{% endif %}
			></script>
		{% else %}
			<script src="{{ javascript }}"></script>
		{% endif %}
	{% endfor %}
	{% block headcontent %}
	{% endblock %}
</head>
<body>
	{% block main %}
        {% include '@DtcQueue/Queue/nav.html.twig' %}
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
    {% endblock %}
</body>
</html>
