{% macro archive_button(button_text, route_name, worker_methods, prompt_message) %}

<div class="archive-jobs form-group form-inline">
    <label for="workerName">WorkerName: </label>
    <select id="workerName" class="form-control" name="workerName">
        <option value="">Any</option>
        {% for workerName, method in worker_methods %}
            <option value="{{ workerName }}">{{ workerName }}</option>
        {% endfor %}
    </select>
    <label for="method">Method: </label>
    <select id="method" class="form-control" name="method">
        <option value="">Any</option>
    </select>
    <button id="jobs-archive" class="btn btn-primary"><i class="fa fa-circle-o-notch fa-spin hidden"></i> {{ button_text }}</button> <progress style="display: none" id="jobs-archive-progress"></progress>
</div>
<script>
  var fetchPath = '{{ path(route_name) }}';
  var workerMethods = {{ worker_methods|json_encode|raw }};
  var promptMessage = '{{ prompt_message|raw }}';
</script>
<script src="/bundles/dtcqueue/js/jobs.js?v=4"></script>
{% endmacro %}
