<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DtcQueue</a>
    <button type="button" class="navbar-toggler navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {%  if app.request.get('_route') == 'dtc_queue_jobs' %}active{% endif %}"><a class="nav-link" href="{{ path('dtc_queue_jobs') }}">Waiting Jobs{% if app.request.get('_route') == 'dtc_queue_jobs' %} <span class="sr-only">(current)</span>{% endif %}</a></li>
            <li class="nav-item {%  if app.request.get('_route') == 'dtc_queue_jobs_running' %}active{% endif %}"><a class="nav-link" href="{{ path('dtc_queue_jobs_running') }}">Running Jobs{% if app.request.get('_route') == 'dtc_queue_jobs_running' %} <span class="sr-only">(current)</span>{% endif %}</a></li>
            <li class="nav-item {%  if app.request.get('_route') == 'dtc_queue_jobs_all' %}active{% endif %}"><a class="nav-link" href="{{ path('dtc_queue_jobs_all') }}">All Jobs{% if app.request.get('_route') == 'dtc_queue_jobs_all' %} <span class="sr-only">(current)</span>{% endif %}</a></li>
            <li class="nav-item {%  if app.request.get('_route') == 'dtc_queue_runs' %}active{% endif %}"><a class="nav-link" href="{{ path('dtc_queue_runs') }}">Runs{% if app.request.get('_route') == 'dtc_queue_runs' %} <span class="sr-only">(current)</span>{% endif %}</a></li>
            <li class="nav-item {%  if app.request.get('_route') == 'dtc_queue_status' %}active{% endif %}"><a class="nav-link" href="{{ path('dtc_queue_queue_status') }}">Status{% if app.request.get('_route') == 'dtc_queue_status' %} <span class="sr-only">(current)</span>{% endif %}</a></li>
            <li class="nav-item {%  if app.request.get('_route') == 'dtc_queue_workers' %}active{% endif %}"><a class="nav-link" href="{{ path('dtc_queue_workers') }}">Workers{% if app.request.get('_route') == 'dtc_queue_workers' %} <span class="sr-only">(current)</span>{% endif %}</a></li>
            <li class="nav-item {%  if app.request.get('_route') == 'dtc_queue_trends' %}active{% endif %}"><a class="nav-link" href="{{ path('dtc_queue_trends') }}">Trends{% if app.request.get('_route') == 'dtc_queue_trends' %} <span class="sr-only">(current)</span>{% endif %}</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
