{% extends "DtcGridBundle:Page:datatables.html.twig" %}
{% import "DtcQueueBundle:Queue:macros.html.twig" as queue_macros %}
{% block title %}DtcQueue - Admin - Runs{% endblock %}

{% block grid %}
    {% include 'DtcQueueBundle:Queue:nav.html.twig' %}

    <h3>{{ dtc_queue_grid_label1 }}</h3>
    {{ dtc_grid.render | raw }}
    {{ queue_macros.jobs_action_button('Prune Stalled', 'dtc_queue_prune_stalled_runs', null, 'This will prune (archive) all stalled runs.', 'prunestalledruns', dtc_queue_grid_id1) }}
    <h3>{{ dtc_queue_grid_label2 }}</h3>
    {{ archive_grid.render | raw }}
    {{ queue_macros.jobs_action_button('Delete Archived Runs', 'dtc_queue_delete_archive_runs', null, 'This will delete all archived runs.', 'deletearchivedruns', dtc_queue_grid_id2) }}
    <script src="{{ queue_js }}"></script>
{% endblock %}